# Verifying the Deployment and Accessing Apache Server

1. Navigate to your **Container Instance** → Click **Go to Resource**.  
   ![](./azurelab/ci6.png)  

2. Copy the **FQDN**.  
   ![](./azurelab/verify.5.png)  

3. Open the FQDN in your browser to access the Apache server.  
   ![](./azurelab/verify1.png)  
